.print {
    background-color:#617e49;
    height: fit-content;
    width: fit-content;
    min-width: 250px;
    min-height: 150px;
    border: 2px solid white;
    border-radius: 30px;
}

.questionário{
    background-color:#617e49;
    height: fit-content;
    width: fit-content;
    min-width: 250px;
    min-height: 150px;
    border-radius: 20px;
}


.quest {
    padding: 10px;
    margin: auto;

}


.button1 {
    background-color: #617e49;
    border-color: whitesmoke;
    color: whitesmoke;

}

.button2 {
    background-color: #617e49;
    border-color: whitesmoke;
    color: whitesmoke;

}


form {
    color: whitesmoke;
    text-align: center;
}

ul {
    list-style: none;
    color: whitesmoke;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(imagens/vetor-de-modelo-de-quadro-de-curva-verde_53876-113965.webp);
  }
 

  p{
      font-family:Verdana;
      color: whitesmoke;
      font-size: 17px;
      
      
  }

  button{
      color: whitesmoke;
      background-color: #617e49;
      border-color: whitesmoke;
  }

  label{
      color: #617e49;
      font-family: Verdana;
      font-size: 14px;
  }

  .título{
    font-family:Verdana;
      color: black;
      font-size: 20px;
  }

 .cadastrar{
     background-color: #617e49;
     border-color: whitesmoke;
 }

