.navbar-itens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu:target{
    transition:0.5s
}

.middle{
    position: absolute;
    top: 50%;
    left:28%;
    transform: translate(-50%,-50%)
}

.button-inicial{
margin-left: 30px;
width: 220px;
height: 400px;
padding: 0%;
border-radius: 1rem 1rem 1rem 1rem;
}

.button-inicial:hover{
    transform: scale(1.1);
    transition: 0.5s;
}


