/* CSS relacionado à tudo que tem de conteúdo dentro das caixas */
.info {
    text-align: center;
    padding: 75px;
}

/* CSS relacionado aos cards */
.options {
    background-color: rgb(140,140,140);
    display: inline-block;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
}

/* CSS que deixa os botões em tom mais claro quando passa o mouse por cima */
.options:hover{
    background-color: rgba(140, 140, 140, 0.5);
    transform: scale(1.08);
    transition: 0.5s;
}

/* CSS relacionado ao escrito "Eu sou:" */
#iam {
    padding: 73px;
    font: bold 50pt;
    margin-block-start: 0em;
    margin-block-end: 0em;
}