body {
    background-color: rgb(255, 255, 255);
}

p {
    margin-left: 3cm;
    margin-right: 3cm;
    margin-top: 0cm;
    background-color: rgb(255, 255, 255);
}
.botoes{
    float: left;
    top: 250px;
    left: -15px;
}
.botoes2{
    align-items: right;
    top: 500px;
    left: -15px;
}

/* .left {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 20%; The width is 20%, by default
  }
  
  .main {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 60%; The width is 60%, by default
  }
  
  .right {
    background-color: #04AA6D;
    padding: 20px;
    float: right;
    width: 20%; The width is 20%, by default
  }
   */

#proximo{
    margin-right: 5cm;
    
}

#submeter{
    margin-left: 18cm;
}

#voltar{
    margin-left: 5cm;
}

#barra{
    margin-left: 22.3cm;
}

.botoes{
    margin-top: 1.5cm;
}