.navbar-itens{
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-left: 9cm;
    margin-top: 3cm;
}

.button-comecar-questionario{
    margin-left: 11.5cm;
    margin-top: 2cm;   
    border-radius: 1rem 1rem 1rem 1rem;
    border-color: rgb(159, 25, 25);
    width: 500px
}
.button-comecar-questionario:hover{
    transform: scale(1.1,1.1);
    transition: 0.5s
}
.container {
    width: 100px;
    height: 100px;
    overflow: auto;
}
.container {
    min-width: max-content;
    height: max-content;
    overflow: auto;
    margin-bottom: 3cm;
    margin: 0;

}
.button-abrir-questionario{
    min-width: 100px;
    min-height: 50px;
    margin-left:10px ;
    border-radius: 1rem 1rem 1rem 1rem;
    
    
}
.button-abrir-questionario:hover{
    transform: scale(1.1,1.1);
    transition: 0.5s
}

.middle{
    position: absolute;
    top: 50%;
    left:28%;
    transform: translate(-50%,-50%)
}

